body {
    background-image: url(https://img-fotki.yandex.ru/get/67890/136164467.17/0_12bc81_21263ac1_orig.png);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: rgb(0, 140, 0);
}

p:first-line {
    font-size:xx-large;
    color: rgb(60, 90, 0);
}
a {
    text-align: center;
    display: block;
}
p{
    font-size:large;
}