*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000000;
    /*background: linear-gradient(to bottom right,#14131379, #2321216b, #454242E8);*/
}

.top-pannel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background-color: #050505;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    z-index: 1000;
}

.menu-button{
    height: 100%;
    width: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    cursor: pointer;
}

.menu-line{
    width:100%;
    height: 0.2em;
    background-color: #FBB57B;
    border-radius: 0.2em;
}

.menu-bar{
    min-width: 120px;
    width:10%;
    background-color: aqua;
    height: 100vh;
}

.create-button{
    min-width: 100px;
    background-color:#67CAC4;
    border: none;
    border-radius: 10px;
}

.create-button::hover{
    min-width: 220px;
    background-color:#67CAC4;
    border: 1px solid white;
    border-radius: 10px;
}

.navbar{
    display: flex;
    justify-content: space-around;;
    height: 100%;
    width: 60%;
}

.navbar-button{
    background-color: rgba(0,0,0,0);
    border:none;
    color:white;
    font-size: 32;
}

.navbar-button::hover{
    color: #67CAC4;
}

.navbar-button::active{
    
}

.workspace{
    display: flex;
    flex-direction: column;
}

.name-pannel{
    display: flex;
    margin-left:20px;
    margin-right:20px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
}


.home-page{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content:space-around;
}

.project-home-page{
    min-height: 43.5vh;
    min-width: 43.5vh;
    width: fit-content;
    height: fit-content;
    background: #131212;
    border-radius: 5px;
    margin: 10px;
    border-bottom-right-radius: 30px;
    margin-right: 20px;
    box-shadow: 2px 1px 10px rgba(255, 255, 255, 0.49);
}

.center{
    padding-top:4em;
}