body {
    background-image: url(https://img-fotki.yandex.ru/get/67890/136164467.17/0_12bc81_21263ac1_orig.png);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p:first-line {
    color: #0000FF;
}

p:first-letter {
  font-size: 30px;
  color: #FF0000;
}