.cardSection{
    display: flex;
    flex-direction: column;
    background-color: #727070;
}

.cardTitles{
    color: white;
}

.cardContainer{
    display: flex;
    flex-direction: row;
}

.cardParagraphs{
    color: rgba(255,255,255,0.89);
}

.cardButtonOpen{
    background-color: #67CAC4;
    color: white;
}